@import "tailwindcss";

@config "../tailwind.config.js"


:root {
  --electric-violet-50: #ffffff;
  --electric-violet-100: #e5c1ff;
  --electric-violet-300: #d698ff;
  --electric-violet-500: #7d3aae;
  --electric-violet-700: #2f0f44;
}
